<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.myshop.mapper.CustomMapper">
	<insert id="mtm_ok" parameterType="kr.co.myshop.vo.MtmVo">
		insert into mtm(title,content,state,writeday) values(#{title},#{content},#{state},now())
	</insert>
</mapper>